# Compiled source #
###################
*.o
*.mod
*.pyc
*.so

# config files #
################
*.config

# tmp files #
############
*~

# Makefiles #
#############


# Input files #
###############


# Exclude some folders #
########################
sphere/data/
sphere/figures/
sphere/logs/
multi_bodies/data/visualizations/

# Simulation output & temp files #
##################################
*.log
*.pkl
*.bodies_info
*.random_state
*.time
*.info
*.inputfile
run_*.git
.DS_Store
data/*




# Generated simulation data (run folders, videos, validation reports)
# Keeps the tracked multi_bodies/data/README and multi_bodies/data/run.git
multi_bodies/data/*/
*.mp4
*.validation.json
